@tailwind base;
body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    overflow-x: hidden;
}
@tailwind components;
.main{
    background-image: radial-gradient(hsl(214, 47%, 23%) , hsl(237, 49%, 15%));
    @apply w-full h-screen   p-8 md:p-0 md:pt-12;
}
.btn{
    @apply flex items-center transition-all cursor-pointer rounded-full justify-center w-[150px] h-[150px] ;
    transform-style:preserve-3d;
    transform: perspective(1000px);
    -webkit-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -ms-transform: perspective(1000px);
    -o-transform: perspective(1000px);
}
.btn{
    @apply flex items-center transition-all cursor-pointer rounded-full justify-center w-[150px] h-[150px] ;
    transform-style:preserve-3d;
    transform: perspective(1000px);
    -webkit-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -ms-transform: perspective(1000px);
    -o-transform: perspective(1000px);
}
.btn-lg{
    @apply flex items-center transition-all rounded-full justify-center w-[300px] h-[300px] ;
    transform-style:preserve-3d;
    transform: perspective(1000px);
    -webkit-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -ms-transform: perspective(1000px);
    -o-transform: perspective(1000px);
}
.btn-lg img{
    @apply w-[120px]
}

.btn img{
    transform: translateZ(40px);
    -webkit-transform: translateZ(40px);
    -moz-transform: translateZ(40px);
    -ms-transform: translateZ(40px);
    -o-transform: translateZ(40px);
}
.btn-rock{
    background-image: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    border-bottom: 6px solid hsl(349, 76%, 50%);
}
.btn-inner{
    transition: 300ms all ease-in-out;
    -webkit-transition: 300ms all ease-in-out;
    -moz-transition: 300ms all ease-in-out;
    -ms-transition: 300ms all ease-in-out;
    -o-transition: 300ms all ease-in-out;
}
.btn-rock:hover .btn-inner{
    background: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    border: 2px  solid white;

}
.btn-paper{
    background-image: linear-gradient(hsl(230, 89%, 62%) ,hsl(230, 89%, 65%));
    border-bottom: 6px solid hsl(230, 81%, 54%);

}
.btn-paper:hover .btn-inner{
    background-image: linear-gradient(hsl(230, 89%, 62%) ,hsl(230, 89%, 65%));
    border: 2px  solid white;

}
.btn-scissors{
    background-image: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    border-bottom: 6px solid hsl(39, 100%, 39%);

}
.btn-scissors:hover .btn-inner{
    background-image: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    border: 2px  solid white;

}
.btn-lizard{
    background-image: linear-gradient(hsl(261, 73%, 60%) , hsl(261, 72%, 63%));
    border-bottom: 6px solid hsl(261, 84%, 49%);

}
.btn-lizard:hover .btn-inner{
    background-image: linear-gradient(hsl(261, 73%, 60%) , hsl(261, 72%, 63%));
    border: 2px  solid white;

}
.btn-spock{
    background-image: linear-gradient(hsl(189, 59%, 53%) , hsl(189, 58%, 57%));
    border-bottom: 6px solid hsl(189, 96%, 36%);

}
.btn-spock:hover .btn-inner{
    background-image: linear-gradient(hsl(189, 59%, 53%) , hsl(189, 58%, 57%));
    border: 2px  solid white;

}
.btn-inner{
    @apply border-t-4 border border-Header-Outline border-opacity-50 bg-white flex rounded-full items-center justify-center w-[80%] h-[80%];
}

/* header */
.header{
    @apply flex items-center justify-between mb-12 md:px-8 md:py-5 p-5  mx-auto border-4  border-Header-Outline rounded-2xl  max-w-[700px];
}
.header img {
    @apply h-[70px] md:h-full;
}
.header-scoreboard{
    @apply bg-white flex items-center flex-col justify-center rounded-md h-[70px] w-[80px]  md:h-[114px] md:w-[160px] p-3 ;
}
.header-scoretext{
    @apply font-semibold tracking-widest text-[0.7rem] md:text-[1rem] text-Score-Text h-[20%];
}
.header-response{
    @apply relative flex-grow font-bold w-full text-[45px] md:text-[70px] text-Dark-Text h-[80%] ;
}
.header-responsetext{
    @apply absolute inset-0 my-0 mx-auto  text-center  -top-2  md:-top-3;
}

@tailwind utilities;